* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  background-color: #e7e7e7;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.btn-container {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
  position: relative;
}

.card-header {
  background-color: #673FAF;
  border-radius: 5px;
  padding: 10px 20px;
}

.card-header h1 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.card-body > * {
  margin: 10px 5px;
}


.btn {
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
  color: #fff;
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: .1s ease-in-out;
}

.button-green {
  background-color: #0cac0c;
}

.button-red {
  background-color: #dd3030;
}

.button-orange {
  background-color: #fdae1b;
}

.button-blue {
  background-color: #3d3df8;
}

.button-grey {
  background-color: #808080;
}

.button-green:hover {
  background-color: #0c8a0c;
}

.button-red:hover {
  background-color: #bd1c1c;
}

.button-orange:hover {
  background-color: #d69112;
}

.button-blue:hover {
  background-color: #1414be;
}

.button-grey:hover {
  background-color: #686868;
}